<section id="footer" class="footer">
  <div class="container footer-container">
    <div class="footer-field">
      <div class="footer-logo"></div>
    </div>
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="">About us</a>
      </li>

      <li class="footer-nav-item">
        <a class="footer-nav-link" href="">Benefits</a>
      </li>

      <li class="footer-nav-item">
        <a class="footer-nav-link" href="">Gallery</a>
      </li>

      <li class="footer-nav-item">
        <a class="footer-nav-link" href="">Testimonial</a>
      </li>

      <li class="footer-nav-item">
        <a class="footer-nav-link" href="">Location</a>
      </li>
    </ul>
    <p class="licensed">© 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</section>
