.quality {
  font-family: 'Quicksand', sans-serif;
  color: #0b0803;
  background-color: #e0cbb4;
  padding: 64px 16px;
}

.quality-container.container {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .quality-container.container {
    max-width: 1440px;
  }
}

@media screen and (min-width: 1440px) {
  .quality-container.container {
    max-width: 1440px;
  }
}

.name-section-quality {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.quality-header {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .quality-header {
    font-size: 48px;
  }
}

.main-discription-quality {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 32px;
}

.name-quality {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.discription-quality {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.quality-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .quality-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .quality-list {
    flex-wrap: nowrap;
  }
}

.quality-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
}

@media screen and (max-width: 374px) {
  .quality-list-item {
    max-width: 342px;
    width: 100%;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .quality-list-item {
    width: 342px;
  }
}

@media screen and (min-width: 768px) {
  .quality-list-item {
    display: flex;
    width: 340px;
    justify-content: center;
  }

  .quality-list-item:last-child {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .quality-list-item {
    width: 422px;
  }
}

.quality-img-set {
  width: 100%;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .quality-img-set {
    width: 340px;
  }
}

@media screen and (max-width: 1440px) {
  .quality-img-set {
    width: 421px;
  }
}

.quality-img {
  width: 100%;
}

.quality-wrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

@media screen and (max-width: 767px) {
  .quality-wrapper {
    max-width: 375px;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .quality-wrapper {
    width: 421px;
  }
}

@media screen and (max-width: 767px) {
  .quality-list-item .quality-thumb:nth-child(1) {
    width: 294px;
  }
}
